<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% comment %} load the bootstrap tag library {% endcomment %}
    {% load bootstrap4 %}

    {% comment %} load bootstrap css and javascript {% endcomment %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="#">DjangoParcelApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main:home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:customer_page' %}">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:courier_page' %}">Courier</a>
      </li>

    </ul>
  </div>
</nav>
{% block content %}{% endblock %}
<footer class="mb-5 mt-5 text-center">
 &copy;vinod
</footer>
</body>
</html>