<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% comment %} load the bootstrap tag library {% endcomment %}
    {% load bootstrap4 %}

    {% comment %} load bootstrap css and javascript {% endcomment %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
<nav class="navbar  navbar-dark navbar-expand-lg fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'main:home' %}">DjangoParcelApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  {% if not request.user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:customer_page' %}">Customer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'main:courier_page' %}">Courier</a>
      </li>

    </ul>
  </div>
  {% else %}
    <form action="" class="form-inline">
      <span class="text-white mr-2">{{ request.user.username }}</span>
      <a href="/sign-out/" class="btn btn-light">Sign Out</a>
    </form>
  {% endif %}

</nav>
<div class="container-fluid mt-5">
{% block content %}{% endblock %}
</div>

<footer class="mb-5 mt-5 text-center">
 &copy;vinod
</footer>
</body>
</html>